
.bg-color {
  background: #f72210;
  color: white;
}
nav ul a {
  color: black;
  font-weight: bolder;
  font-size: 16px;
}

nav ul a:hover {
  color: #f72210;
}

.navbar-items {
  font-size: 15 px;
  font-family: 'Roboto Condensed', sans-serif;
}

.logo {
  max-width: 350px;
  max-height: 80px;
  width: 210px;
  height: 65px;
}





@media (min-width: 768px) {

}




@media (min-width: 1024px) {

  .logo {
    max-width: 650px;
    max-height: 90px;
  }
  

}