
.background {
  background: #f72210;
  color: white;
}
nav ul a {
  color: black;
  font-weight: bolder;
  font-size: 16px;
}

nav ul a:hover {
  color: #f72210;
}

.navbar-items {
  font-size: 15 px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* mobile stups*/
.logo {
  max-width: 350px;
  max-height: 80px;
  width: 150px;
  height: 45px;
}

.first-button {
  width: 100px;
  height: 20px;
  font-size: 13px;
  font-family: Roboto Condensed;
  padding: 3px 4px 4px;
}
/*
.background button {
  font-size: 15px;
}
*/
.hidden {
  display: none;
  visibility: hidden;
}

.width {
  width: 100%;
}
.sec-1 img,
.sec-1 img {
  width: 100%;
}


@media (min-width: 768px) {

}




@media (min-width: 1024px) {

  .logo {
    max-width: 650px;
    max-height: 90px;
  }


}
