
.background {
  background: #f72210;
  color: white;
}
nav ul a {
  color: black;
  font-weight: bolder;
  font-size: 16px;
}

nav ul a:hover {
  color: #f72210;
}

.navbar-items {
  font-size: 15 px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* mobile stups*/
.logo {
  max-width: 350px;
  max-height: 80px;
  width: 150px;
  height: 45px;
}

.first-button {
  width: 92px;
  font-size: 12px;
  font-family: Roboto Condensed;
  padding: 0 12px;
  background-color: #ffe400;
  letter-spacing: 1px;
}

.h4 {
  font-size: 12px;
  font-weight: bold;
}
.h3 {
  font-size: 20px;
  font-weight: bold;
}

.img-link {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin: -20px 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.title-debate {
  font-family: Roboto Condensed;
  color: #4e4d4d66;
  font-size: 16px;
  border-bottom: 4px solid #4e4d4d66;
  padding: 0px 0px 11px;
}

.title2-debate {
  color: black;
  font-weight: bold;
  font-size: 17px;
  font-family: Roboto Condensed; 
  padding: 10px 10px 20px;
}

.author-debate {
  font-family: Roboto Condensed;
  color: #555555;
  font-size: 14px;
}

.last-title {
  margin-bottom: 4px solid #4e4d4d66;
}



}
/*
.background button {
  font-size: 15px;
}
*/
.hidden {
  display: none;
  visibility: hidden;
}

.sec-1 img,
.sec-1 img {
  width: 100%;
}


@media (min-width: 768px) {

}




@media (min-width: 1024px) {

  .logo {
    max-width: 650px;
    max-height: 90px;
  }


}
